body {
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

div {
  border-top: 0;
}

hr {
  display: block;
  border: 3px solid black;
  width: 100%;
  top: 10px;
  float: none;
}

h1 {
  margin: 0;
  text-align: center;
  color: #F5A962;
}

p {
  margin: 0;
  text-align: center;
  color: Black;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

}

ul {
  width: 100%;
  height: 60px;
  text-align: center;
}

li {
  display: inline;
}

a{
  background-color: transparent;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  top: 50%;
  -ms-transform: translateY(-25%);
  transform: translateY(-25%);

}
.lowertext{
  position: absolute;
  top: 5px;
  left: 30%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 13px;
  font-weight: 500;

}

.lowertextAPR{
  position: absolute;
  top: 5px;
  left: 15%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 13px;
  font-weight: 500;

}

.lowertextTVL{
  position: absolute;
  top: 5px;
  left: 15%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 13px;
  font-weight: 500;
}
.lowertextTVL2{
  position: absolute;
  top: 53%;
  left: 15%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 13px;
  font-weight: 500;
}

.lowertext2{
position: absolute;
top: 60%;
left: 30px;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
color: black;
font-size: 14px;
font-weight: 600;}


.lowertext3{
position: absolute;
top: 50%;
left: 5px;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
color: black;
font-size: 14px;
font-weight: 600;}

.lowertext4{
  position: absolute;
  top: 105px;
  left: 15px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: rgb(104, 97, 97);
  font-size: 13px;
  font-weight: 500;
}
 
.lowertextEarned{
  position: absolute;
  top: 53%;
  left: 25%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 13px;
  font-weight: 500;

}
 
  
input[type=text], select {
  width: 50%;
position: absolute;
top: 50%;
left: 20%;
-ms-transform: translateY(-50%);
transform: translateY(-50%);


  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  }

  .bluebut {
    width: 25%;
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #0CECDD ;
    color: #333333;
    padding: 14px 10px 14px 10px;



    position: absolute;
    top: 50%;
    right: 0px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
  }



  .bluebut:hover {
    background-color:  #00ff99;
  }

  .purpbut {
    width: 25%;
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #C6B4CE ;
    color: #333333;
    padding: 14px 10px 14px 10px;



    position: absolute;
    top: 50%;
    right: 0px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
  }



  .purpbut:hover {
    background-color:  #AE00FB;
  }

  .purpbut2 {
    width: 60px;
    height: 30px;
    font: bold 11px Arial;
    text-decoration: none;
    text-align: center;
    background-color: #C6B4CE ;
    color: #333333;
    padding: 0px;



    position: absolute;
    top: 102px;
    right: 95px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
  }



  .purpbut2:hover {
    background-color:  #AE00FB;
  }


  .bluebut2 {
    width: 60px;
    height: 30px;
    font: bold 11px Arial;
    text-decoration: none;
    text-align: center;
    background-color: #0CECDD ;
    color: #333333;
    padding: 0px;



    position: absolute;
    top: 102px;
    right: 95px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
  }



  .bluebut2:hover {
    background-color:  #00ff99;}

.FarmsScreen {
  position: absolute;
  height: 2300px;
  width: 100%;
}


.portrait {
  height: 80px;
  width: 30px;
}

.landscape {
  height: 30px;
  width: 80px;
}

.square {
  height: 75px;
  width: 75px;
}

.object-fit {
  object-fit: fill;
}

.Launchbutton {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}


.Icicles1 {
  height: 50px;
  width: 25%;
  position: relative;
  top: 75px;
}

.Icicles2 {
  height: 50px;
  width: 25%;
  position: relative;
  top: 75px;
  right: 5px;
}

.Icicles3 {
  height: 50px;
  width: 25%;
  position: relative;
  top: 75px;
  right: 10px;
}

.Icicles4 {
  height: 50px;
  width: 25.3%;
  position: relative;
  top: 25px;
  left: 74.8%
}

.linebreak {
  background-color: Black;
  height: 2px;
  width: 100%;
  position: absolute;
  top: 50%;
  margin-left: 0;
}
.linebreak2 {
  background-color: Black;
  height: 2px;
  width: 100%;
  position: absolute;
  top: 35px;
  margin-left: 0;
}
.Parent1 {
  background-color: transparent;
  height: 550px;
  width: 900px;
  margin: 0 auto;
  border-color: transparent;
  border-radius: 0.5rem;
  border: .5rem solid transparent;
  position: absolute;
  top: 750px;
  left: 50%;
  margin-left: -450px;
}

.Stake1 {
  background: linear-gradient(to bottom, #5BAAEC, #8AC4D0);
  height: 500px;
  width: 400px;
  position: absolute;
  display: inline-block;
  position: absolute;
  left: 30px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 1rem;
  border-radius: 0.5rem;
  border: .4rem solid transparent;
}

.Stake1:hover {
  padding: 1rem;
  background-color: #3C8DAD;
  border-radius: 0.5rem;
  border: .4rem solid #00ff99;
}

.Stake2 {
  background: linear-gradient(to bottom, #5BAAEC, #8AC4D0);
  height: 500px;
  width: 400px;
  border-color: #F5A962;
  position: absolute;
  display: inline-block;
  position: absolute;
  right: 30px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 1rem;
  border-radius: 0.5rem;
  border: .4rem solid transparent;
}

.Stake2:hover {
  padding: 1rem;
  background-color: #3C8DAD;
  border-radius: 0.5rem;
  border: .4rem solid #00ff99;
}

.Parent2 {
  background-color: transparent;
  height: 550px;
  width: 900px;
  border-color: transparent;
  border-radius: 0.5rem;
  border: .5rem solid transparent;
  position: absolute;
  top: 1530px;
  left: 50%;
  margin-left: -450px;
}

.Stake3 {
  background: linear-gradient(to bottom, #3F3697, #7B417D);
  height: 500px;
  width: 400px;
  border-color: #F5A962;
  position: absolute;
  display: inline-block;
  position: absolute;
  left: 30px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 1rem;
  border-radius: 0.5rem;
  border: .4rem solid transparent;
}

.Stake3:hover {
  padding: 1rem;
  background-color: #3F3697;
  border-radius: 0.5rem;
  border: .4rem solid #AE00FB;
}

.Stake4 {
  background: linear-gradient(to bottom, #3F3697, #7B417D);
  height: 500px;
  width: 400px;
  border-color: #F5A962;
  position: absolute;
  display: inline-block;
  position: absolute;
  right: 30px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 1rem;
  border-radius: 0.5rem;
  border: .4rem solid transparent;
}

.Stake4:hover {
  padding: 1rem;
  background-color: #F0D9FF;
  border-radius: 0.5rem;
  border: .4rem solid #AE00FB;
}

.APR-Earned {
  background-color: #E1E5EA;
  height: 130px;
  width: 170px;
  border-radius: .5rem;
  position: absolute;
  left: 20px;
  top: 80px;
  border-radius: 0.5rem;
  border: 3px solid #929AAB;
}
.APRprint {
  background-color: #E1E5EA;
  height: 50px;
  width: 100px;
  position: absolute;
  display: inline-block;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 3px solid #929AAB;
  top: 25%;
  left: 50px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.Earnprint {
  background-color: #E1E5EA;
  height: 50px;
  width: 80px;
  position: absolute;
  display: inline-block;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 3px solid #929AAB;
  top: 76%;
  left: 75px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.homebarbox {
  background-color: #E1E5EA;
  height: 65px;
  width: 100px;
  position: absolute;
  display: inline-block;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 3px solid #929AAB;
  top: 40%;
 
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}


.TVLprint {
  background-color: #E1E5EA;
  height: 50px;
  width: 100px;
  position: absolute;
  display: inline-block;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 3px solid #929AAB;
  top: 25%;
  left: 50px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.TVLprint2 {
  background-color: #E1E5EA;
  height: 50px;
  width: 100px;
  position: absolute;
  display: inline-block;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 3px solid #929AAB;
  top: 76%;
  left: 50px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.stakedtokens {
  background-color: #E1E5EA;
  height: 30px;
  width: 80px;
  position: absolute;
  display: inline-block;
  
  border-radius: 0.5rem;
  border: 2px solid #929AAB;
  top: 85%;
  left: 85px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.availabletokens {
  background-color: #E1E5EA;
  height: 30px;
  width: 80px;
  position: absolute;
  display: inline-block;
  
  border-radius: 0.5rem;
  border: 2px solid #929AAB;
  top: 14%;
  left: 95px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.TVLs{
  background-color: #E1E5EA;
  height: 130px;
  width: 170px;
  border-radius: .5rem;
  border: 3px solid #929AAB;
  position: absolute;
  Right: 20px;
  top: 80px;
}

.StakePGL {
  background-color: #E1E5EA;
  height: 130px;
  width: 350px;
  border-radius: .5rem;
  border: 3px solid #929AAB;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 230px;
}
.Stakeform {background-color: transparent;
height: 50px;
width: 320px;
border-radius: .5rem;
border: 3px solid transparent;
position: absolute;
left: 10px;
-ms-transform: translateX(-50%);
transform: translateX(-50%);
top: 60%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.StakeformW {background-color: transparent;
  height: 50px;
  width: 320px;
  border-radius: .5rem;
  border: 3px solid transparent;
  position: absolute;
  left: 10px;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

.WithdrawPGL {
  background-color: #E1E5EA;
  height: 90px;
  width: 350px;
  border-radius: .5rem;
  border: 3px solid #929AAB;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 380px;
}

.banner {
  height: 350px;
  width: 1000px;
  position: absolute;
  left: 50%;
  top: 75px;
  margin-left: -500px;
  border-radius: .5rem;
}

.bannername {
  z-index: 100;
  position: absolute;
  color: white;
  font-weight: 600;
  font-size: 40px;
  
  font: Comic Sans MS;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 110px;}

.NavigationBar {
  height: 100px;
  Width: 100%;
  position: absolute;
  background-color: #83cdef;

  border-top: 10px;
  border-bottom: 10px;
  border-style: ridge;
  border-left: none;
  border-right: none;
  border-top-color: #865439;
  border-bottom-color: #865439;
 
}

.NavICE {
  height: 120px;
  Width: 100%;
  position: absolute;
  background-color: #83cdef;

}

.NavButton1 {
    display: inline-block;
    position: absolute;
}

  .NavButtons {
    display: inline-block;
    position: absolute;
    padding: 25px;
    vertical-align: middle;
  }

  .SocialBar {
    height: 75px;
    Width: 100%;
    position: absolute;
    background-color: transparent;
    bottom: 0px;
    border-left: none;
    border-right: none;
  }

  .buttons {
    margin: 10%;
    text-align: center;
  }

  .btn-hover {
    width: 250px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 75px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    position: absolute;
    left: 50%;
    top: 40%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }

  .btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }

  .btn-hover:focus {
    outline: none;
  }

  .btn-hover.color-1 {
    background-image: linear-gradient(to right, #7B417D, #3F3697, #25aae1, #40e495);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
  }





  /*Code for HOME PAGE ONLY*/
  .HomeSFI {
    background: linear-gradient(to bottom, #5BAAEC, #8AC4D0);
    height: 180px;
    width: 800px;
    ;
    position: absolute;
    display: inline-block;
    position: absolute;
    padding: 1rem;
    border-radius: 0.5rem;
    border: .4rem solid transparent;
    top: 650px;
    left: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: -400px;
  }

  .HomeSL3 {
    background: linear-gradient(to bottom, #3F3697, #7C83FD);
    height: 180px;
    width: 800px;
    position: absolute;
    display: inline-block;
    position: absolute;
    padding: 1rem;
    border-radius: 0.5rem;
    border: .4rem solid transparent;
    top: 1425px;
    left: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: -400px;
  }

  .linebreakHome {
    background-color: Black;
    height: 3px;
    width: 154px;
    position: absolute;
    top: 35px;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .SFIprice {
    background-color: #E1E5EA;
    height: 130px;
    width: 160px;
    position: absolute;
    display: inline-block;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 3px solid #929AAB;
    top: 50%;
    left: 19.2px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .SFIMC {
    background-color: #E1E5EA;
    height: 130px;
    width: 160px;
    position: absolute;
    display: inline-block;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 3px solid #929AAB;
    top: 50%;
    left: 409.6px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .SFILiq {
    background-color: #E1E5EA;
    height: 130px;
    width: 160px;
    position: absolute;
    display: inline-block;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 3px solid #929AAB;
    top: 50%;
    left: 214.4px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .SFIBurned {
    background-color: #E1E5EA;
    height: 130px;
    width: 160px;
    position: absolute;
    display: inline-block;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 3px solid #929AAB;
    top: 50%;
    right: 19.6px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  